.middle{
    text-align: center;
}

.HappyCat{
    margin-left: 179px;
}

.button{
    margin-left: 50%;
    color: cornflowerblue;
}

.button2{
    border-color: blue;
}

.Add{
    border-radius: 5px;
}