.border{
    border-width: 8px;
    border-color: cornflowerblue;
    border-style: solid;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    color: crimson;
}

.centred{
    text-align: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.currentpage {
    background-color: crimson;
}

.helpfulinfo {
    color: black;
    text-align: center;
}

.border2 {
    border-width: 2px;
    border-color: crimson;
    border-style: groove;
    width: 350px;
    height: 300px;
}

.leftimg {
    text-align: left;
    display: inline;
    float: left;
}

.rightimg {
    text-align: right;
}
